<p id="notice"><%= notice %></p>
<div class="topic">
  <div class="container">
      <div class="col-md-12">
          <div class="col-sm-3">
              <div class="profileimage" style="margin-left:-20px;margin-top:15px;">
                  <img src="https://i.imgur.com/VKa54Wk.png"></img>
              </div>
          </div>
          <div class="col-sm-8">
              <h3 style=""><%= @client.name %></h3>
              <h5 style="margin-bottom:20px;">Former/Current Client</h5>
              <h6 style="line-height:22px;color:#292929;font-size:14px;"><%= @client.bio %></h6>

              <h6 style="text-align: left; font-weight: 600; line-height: 22px; color: #292929; font-size: 15px;"> Share his story: </h6>
              <!-- AddToAny BEGIN -->
              <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                  <a class="a2a_button_facebook"></a>
                  <a class="a2a_button_twitter"></a>
                  <a class="a2a_button_google_plus"></a>
              </div>
              <script async src="https://static.addtoany.com/menu/page.js"></script>
              <!-- AddToAny END -->

          </div>
      </div>
      <div class="col-md-4">
      </div>
  </div>
</div>
<div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">TimeLine with Search</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <h5 class="center"><%= @client.intro %></h5>
                        <div class="timeline">
                            <dl>
                                <% i = 0 %>
                                <% @events.each do |event_month_group| %>
                                  <% month = event_month_group[0] %>
                                  <% events = event_month_group[1] %>
                                  <dt><%= month.strftime("%b %Y") %></dt>


                                  <% events.each do |event| %>
                                    <dd class="<%= if i % 2 == 0 then "pos-left" else "pos-right" end %> clearfix">
                                      <div class="circ">
                                          <i class="fa <%= event.icon %>" aria-hidden="true"></i>
                                      </div>
                                      <div class="time"><%= event.date.strftime("%b %d") %></div>
                                      <div class="events">
                                          <div class="pull-left">
                                              <img class="events-object img-rounded" src="/img/photo-1.jpg">
                                          </div>
                                          <div class="events-body">
                                              <h4 class="events-heading"><%= event.title %></h4>
                                              <p><%= event.description %></p>
                                          </div>
                                      </div>
                                    </dd>
                                    <% i+=1 %>
                                  <% end %>
                                <% end %>
                        </div>
                    </div>
                </div>
                <hr>
                <p align="center">
                    <%= @client.embed_html.html_safe %>
                </p>
            </div>
        </div>
    </div>